@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    font-family: 'Asap', sans-serif;
}

body{
    background-color: rgba(255,255,255);
}

/* ------------------------- barra de navegacion ------------------------- */
#navBar {
    background-image: linear-gradient(to right, #000000 0%, #434343  100%);
}

.menu a{
    font-size: 3.3vh;
}

    .menu a:hover{
        color: rgb(233, 194, 78);
    }

#navBar ul ul{
    background-image: linear-gradient(to right, #000000 0%, #434343  100%);
}

a[class^="dropdown-item"]{
    padding: 0.5em 1em;
}
    a[class^="dropdown-item"]:hover{
        background-color: rgba(0, 0, 0, 0.5);
    }


/* ------------------------- fin barra de navegacion ------------------------- */

/* ------------------------- header ------------------------- */

.imgSize{
    width: 100%;
}

/* ------------------------- fin header ------------------------- */

#contenedorMain{
    display: flex;
} 

/* ------------------------- aside ------------------------- */
aside{
    background-color: rgba(44,44,44, 0.1);
}

aside h2{
    font-size: 3.5vh;
}

aside ul{
    list-style: none;
}

aside ul li{    
    padding-bottom: 1em;
}

aside ul li a{
    text-decoration: none;
    color: rgba(44,44,44);
}

aside ul li a:hover{
    font-weight: bold;
}

/* ------------------------- fin aside ------------------------- */

/* ------------------------- main ------------------------- */
main{
    padding: 1em 0;
}

h1, h2, h3{
	color: rgba(0,0,0);
    font-weight: bold;
}

h1, h2{
    text-align: center;
}

h1{
    font-size: 5vh;
    margin-top: 0.3em;
}

h2{
    font-size: 4vh;
    padding: 0.5em;
}

h3{
    font-size: 3vh;
    padding: 0.5em;
}
    main h3{
        margin-left: 8em;
    }

p, ul li{
    color: rgba(44,44,44);
    font-size: 2.5vh;
	line-height: 3.5vh;

}

main p, main ul li{
    text-align: justify;
    text-indent: 1em;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
}

main ul{
    margin-left: 5em;
}

.enlaceDeco{
    text-decoration: none;
}

.ubicacion{
    text-align: center;
    padding: 1em;
}

    .ubicacion iframe{
        width: 90%;
    }

.multiVideo{
    width: 35em;
    height: 50em;
}

.multiImg{
    width: 25%;
}

.tipoWod{
    margin: 1em 5em;
}

/* ------------------------- dudas frecuentes ------------------------- */

/* Formulario para enviar consulta */
.formDudas {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
.h-label, .btn-dark{
    font-size: 2.5vh;
}

.btn-dark{
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000 100%);
    margin: 5px;
    padding: 10px 35px;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(255,255,255);            
    box-shadow: 0 0 20px rgb(238, 238, 238);
    border-radius: 10px;
}

    .btn-dark:hover {
        background-position: right center; /* change the direction of the change here */
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

.accordion-button:not(.collapsed) {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255,255,255);
    font-weight: 700;
}


/* ------------------------- fin dudas frecuentes ------------------------- */

/* ------------------------- contenedorPacks ------------------------- */

#contenedorPacks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

    #contenedorPacks .pack{
        padding: 0 2rem;
    }

    #contenedorPacks .pack .cantidadClase{
        padding-top: 4rem;

        text-align: center;
        font-size: 8rem;
        font-weight: bold;
        color: rgba(226,216,92);
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 1);
    }

    #contenedorPacks .pack .precioClase{
        padding: 4rem 0;

        text-align: center;
        font-size: 2.5rem;
        font-weight: bold;
    }
/* ------------------------- fin contenedorPacks ------------------------- */

/* ------------------------- index docs ------------------------- */
.card{
    width: 18rem;
}

#docs{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row: auto;
    justify-items: center;
}

/* ------------------------- fin index docs ------------------------- */

/* ------------------------- fin main ------------------------- */



/* ------------------------- footer ------------------------- */

footer{
    padding-bottom: 1em;
    padding-top: 0.5em;
    background: linear-gradient(90deg, rgba(240,152,25,0.9) 0%, rgba(226,216,92,1) 51%, rgba(240,152,25,0.9) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconRedes{
    margin: 0 1em;
}

    .iconRedes:hover{
        cursor: pointer;
    }

/* ------------------------- fin footer ------------------------- */



/* ------------------------- maquetado grid ------------------------- */
#navBar{
    grid-area: nav;
}

#header{
    grid-area: header;
}

#aside{
    grid-area: aside;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: pie;
}

@media screen and (min-width:320px){
    #contenedorIndex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "nav" 
        "header" 
        "aside"
        "main" 
        "pie";
    }

    #contenedorOtros{
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "nav" 
        "main" 
        "pie";
    }

    #docs{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (min-width:768px){
       #docs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px){
    #contenedorIndex{
        display: grid;
        grid-template-columns: 17% 83%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "nav nav" 
        "header header" 
        "aside main" 
        "pie pie";
    }

    #contenedorOtros{
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "nav" 
        "main" 
        "pie";
    }

    #docs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1200px){
    #docs{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* ------------------------- fin maquetado grid------------------------- */





