@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    font-family: 'Asap', sans-serif;
}

body{
    background-color: rgba(255,255,255);
    overflow-x: hidden;
}

/* ------------------------- barra de navegacion ------------------------- */
#navBar {
    background-image: linear-gradient(to right, #000000 0%, #434343  100%);
}

.menu a{
    font-size: 1.3em;
}

.menu a:hover{
    color: rgb(233, 194, 78);
}

.navbar-toggler-icon{
    background-image: url(../img/menu_open.svg);
}
/* ------------------------- fin barra de navegacion ------------------------- */ 

/* ------------------------- aside ------------------------- */
aside{
    background-color: rgba(44,44,44, 0.1);
}

aside h4{
    margin: 1em 0;
    text-align: center;
}

aside ul{
    list-style: none;
    padding: 0;
    text-align: center;
}

aside ul li{    
    padding-bottom: 1em;
}

aside ul li a{
    text-decoration: none;
    color: rgba(44,44,44);
}

aside ul li a:hover{
    font-weight: bold;
}

/* ------------------------- fin aside ------------------------- */

/* ------------------------- main ------------------------- */
main{
    padding: 1em 0;
}

h1, h2, h3, h4, h5{
	color: rgba(0,0,0);
    font-weight: bold;
}

h1, h2{
    text-align: center;
}

h1{
    margin-top: 0.3em;
}

h2{
    padding: 0.5em;
}

h3{
    padding: 0.5em;
}

p, ul li{
    color: rgba(44,44,44);
}

main p, main h3{
    text-align: justify;
    text-indent: 1em;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em 0;
}

main ul{
    padding: 0 5em;
}
    main ul li{
        padding: 0.5em 0;
    }

.enlaceDeco{
    text-decoration: none;
}

/* .multiVideo{
    width: 35em;
    height: 50em;
} */

.multiImg{
    width: 25%;
}

.tipoWod{
    margin: 1em 5em;
}

/* ------------------------- dudas frecuentes ------------------------- */

/* Formulario para enviar consulta */
.formDudas {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  
.btn-dark{
    background-image: linear-gradient(to right, #000000 0%, #434343  51%, #000000 100%);
    margin: 5px;
    padding: 10px 35px;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgba(255,255,255);            
    box-shadow: 0 0 20px rgb(238, 238, 238);
    border-radius: 10px;
}

    .btn-dark:hover {
        background-position: right center; /* change the direction of the change here */
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

.accordion-button:not(.collapsed) {
    color: rgba(0, 0, 0, 1);
    background-color: rgba(255,255,255);
    font-weight: 700;
}


/* ------------------------- fin dudas frecuentes ------------------------- */

/* ------------------------- index docs ------------------------- */
.card{
    width: 18rem;
}

#docs{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row: auto;
    justify-items: center;
}

/* ------------------------- fin index docs ------------------------- */

/* ------------------------- fin main ------------------------- */



/* ------------------------- footer ------------------------- */

footer{
    padding-bottom: 1em;
    padding-top: 0.5em;
    background: linear-gradient(90deg, rgba(240,152,25,0.9) 0%, rgba(226,216,92,1) 51%, rgba(240,152,25,0.9) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h3{
    font-size: 1.3em;
}

.iconRedes{
    margin: 0 1em;
}

    .iconRedes:hover{
        cursor: pointer;
    }

/* ------------------------- fin footer ------------------------- */



/* ------------------------- maquetado grid ------------------------- */
#navBar{
    grid-area: nav;
}

#header{
    grid-area: header;
}

#aside{
    grid-area: aside;
}

#main{
    grid-area: main;
}

#footer{
    grid-area: pie;
}

@media screen and (min-width:320px){
    #contenedorIndex{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(5, auto);
        grid-template-areas: 
        "nav" 
        "header" 
        "aside"
        "main" 
        "pie";
    }

    #contenedorOtros{
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "nav" 
        "main" 
        "pie";
    }

    #docs{
        grid-template-columns: repeat(1, 1fr);
    }

}

@media (min-width:768px){
       #docs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1024px){
    #contenedorIndex{
        display: grid;
        grid-template-columns: 17% 83%;
        grid-template-rows: repeat(4, auto);
        grid-template-areas: 
        "nav nav" 
        "header header" 
        "aside main" 
        "pie pie";
    }

    #contenedorOtros{
        display: grid;
        grid-template-columns: (1, 1fr);
        grid-template-rows: repeat(3, auto);
        grid-template-areas: 
        "nav" 
        "main" 
        "pie";
    }

    #docs{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:1200px){
    #docs{
        grid-template-columns: repeat(3, 1fr);
    }
}


/* ------------------------- fin maquetado grid------------------------- */





