aside{

    background-color: map-get($map: $paleta, $key: 'dos-01');

    ul{
        list-style: none;
        padding: 0;

        li{    
            a{
                color: map-get($map: $paleta, $key: 'dos');

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }


}

.linea {
    border-top: 1px solid map-get($map: $paleta, $key: 'dos');
    height: 2px;
    margin: 0 auto 1em auto;
  }