@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    font-family: 'Asap', sans-serif;
}

body{
    background: map-get($map: $paleta, $key: 'blanco');
    overflow-x: hidden;

    #contenedorOtros{
        min-height: 100vh;
    }
}

//navBar
#navBar {
    background: map-get($map: $gradient, $key: 'navBar');
    margin-bottom: auto;
}

.menu{
    a{
        font-size: 1.3em;

        &:hover{
            color: map-get($map: $paleta, $key: 'uno');
        }
    }
}

.navbar-toggler-icon{
    background-image: $toggler-icon;
}
//fin navBar

//aside
aside{

    background: map-get($map: $paleta, $key: 'dos-01');

    ul{
        list-style: none;
        padding: 0;

        li{    
            a{
                color: map-get($map: $paleta, $key: 'dos');

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }


}

.linea {
    border-top: 1px solid map-get($map: $paleta, $key: 'dos');
    height: 2px;
    margin: 0 auto 1em auto;
}

//fin aside

//main
@for $i from 1 through 5{
    h#{$i}{
        color: map-get($map: $paleta, $key: 'negro');
        @if $i == 1 or $i == 2{
            text-align: center;
        }
    }
}

main{
    p, h3{
        color: map-get($map: $paleta, $key: 'dos'); 
        text-align: justify;
        text-indent: 1em;
        width: 90%;
        margin: 0 auto;
        padding: 0.5em 0;
    }

    ul{
        padding: 0 5em;

        li{
            color: map-get($map: $paleta, $key: 'dos');
            padding: 0.5em 0;
        }
    }
}

.enlaceDeco{
    text-decoration: none;
}

// dudas frecuentes

//Formulario para enviar consulta 
.btn-dark{
    background-image: map-get($map: $gradient, $key: 'dark');
    @extend .btn-grad;
}

.btn-error{
    background-image: map-get($map: $gradient, $key: 'btnInicio');
    @extend .btn-grad;
}

.accordion-button:not(.collapsed) {
    color: map-get($map: $paleta, $key: 'negro');
    background: map-get($map: $paleta, $key: 'blanco');
    font-weight: 700;
}
//fin dudas frecuentes

//index docs
.card{
    width: 18rem;
}

#docs{
    @include d-grid(repeat(3, 3fr), auto);
    justify-items: center;
}

//fin index docs

//galeria de imagenes

@each $i in A,B,C,D,E,F{
    .foto#{$i}{
        grid-area: foto#{$i};
    }
}

#galeria{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @include d-grid(1fr, repeat(6, 300px));
    grid-template-areas:
    'fotoA'
    'fotoB'
    'fotoC'
    'fotoD'
    'fotoE'
    'fotoF';
}

//fin galeria de imagenes


//error 404

@each $i in img,mensaje{
    ##{$i}-error{
        grid-area: #{$i}-error;
        display: flex;
        justify-content: center;
        align-content: center;

        @if $i == mensaje{
            flex-direction: column;
            align-items: center;
        }
    }
}

#contenedorError{
    @include d-grid(1fr, auto);
    grid-template-areas:
    'img-error'
    'mensaje-error';
}

//fin error 404

//fin main

// footer
footer{
    background: map-get($map: $gradient, $key: 'footer');
}

.iconRedes{
    &:hover{
        cursor: pointer;
    }
}
//fin footer