@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    font-family: 'Asap', sans-serif;
}

body{
    background-color: map-get($map: $paleta, $key: 'blanco');
    overflow-x: hidden;
}

//navBar
#navBar {
    background-image: map-get($map: $gradient, $key: 'navBar');
    margin-bottom: auto;
}

.menu{
    a{
        font-size: 1.3em;

        &:hover{
            color: map-get($map: $paleta, $key: 'uno');
        }
    }
}

.navbar-toggler-icon{
    background-image: $toggler-icon;
}
//fin navBar

//aside
aside{

    background-color: map-get($map: $paleta, $key: 'dos-01');

    ul{
        list-style: none;
        padding: 0;

        li{    
            a{
                color: map-get($map: $paleta, $key: 'dos');

                &:hover{
                    font-weight: bold;
                }
            }
        }
    }


}

.linea {
    border-top: 1px solid map-get($map: $paleta, $key: 'dos');
    height: 2px;
    margin: 0 auto 1em auto;
}

//fin aside

//main
@for $i from 1 through 5{
    h#{$i}{
        color: map-get($map: $paleta, $key: 'negro');
        @if $i == 1 or $i == 2{
            text-align: center;
        }
    }
}

main{
    p, h3{
        color: map-get($map: $paleta, $key: 'dos'); 
        text-align: justify;
        text-indent: 1em;
        width: 90%;
        margin: 0 auto;
        padding: 0.5em 0;
    }

    ul{
        padding: 0 5em;

        li{
            color: map-get($map: $paleta, $key: 'dos');
            padding: 0.5em 0;
        }
    }
}

.enlaceDeco{
    text-decoration: none;
}

// dudas frecuentes

//Formulario para enviar consulta 
.btn-dark{
    background-image: map-get($map: $gradient, $key: 'dark');
    margin: 5px;
    padding: 10px 35px;
    transition: 0.5s;
    background-size: 200% auto;
    color: map-get($map: $paleta, $key: 'blanco');            
    box-shadow: 0 0 20px $btnShadow;
    border-radius: 10px;

    &:hover{
        background-position: right center; /* change the direction of the change here */
        color: map-get($map: $paleta, $key: 'blanco');
        text-decoration: none;
    }
}

.accordion-button:not(.collapsed) {
    color: map-get($map: $paleta, $key: 'negro');
    background-color: map-get($map: $paleta, $key: 'blanco');
    font-weight: 700;
}
//fin dudas frecuentes

//index docs
.card{
    width: 18rem;
}

#docs{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row: auto;
    justify-items: center;
}

//fin index docs

//galeria de imagenes

@each $i in A,B,C,D,E,F{
    .foto#{$i}{
        grid-area: foto#{$i};
    }
}

#galeria{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas:
    'fotoA'
    'fotoB'
    'fotoC'
    'fotoD'
    'fotoE'
    'fotoF';
}

@media (min-width: 768px){
    #galeria{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, 400px);
        grid-template-areas:
        'fotoA fotoB'
        'fotoA fotoC'
        'fotoD fotoE'
        'fotoF fotoE';
    }
}

@media (min-width: 1200px){
    #galeria{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 300px);
        grid-template-areas:
        'fotoA fotoB fotoC'
        'fotoA fotoD fotoC'
        'fotoA fotoE fotoF';
    }

    #galeria{
        img{
            filter: grayscale(.5);
            &:hover{
                filter: none;
                transition: filter 1s;
            }
        }

    }
}

//fin galeria de imagenes


//error 404

@each $i in img,mensaje{
    ##{$i}-error{
        grid-area: #{$i}-error;
        display: flex;
        justify-content: center;
        align-content: center;

        @if $i == mensaje{
            flex-direction: column;
            align-items: center;
        }
    }
}

#contenedorError{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    'img-error'
    'mensaje-error';
}

@media (min-width: 768px){
    #contenedorError{
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
        'img-error mensaje-error';
    }
}


//fin error 404
//fin main

// footer
footer{
    background: map-get($map: $gradient, $key: 'footer');
}

.iconRedes{
    &:hover{
        cursor: pointer;
    }
}
//fin footer