
@for $i from 1 through 5{
    h#{$i}{
        color: map-get($map: $paleta, $key: 'negro');
        @if $i == 1 or $i == 2{
            text-align: center;
        }
    }
}

main{
    p, h3{
        color: map-get($map: $paleta, $key: 'dos'); 
        text-align: justify;
        text-indent: 1em;
        width: 90%;
        margin: 0 auto;
        padding: 0.5em 0;
    }

    ul{
        padding: 0 5em;

        li{
            color: map-get($map: $paleta, $key: 'dos');
            padding: 0.5em 0;
        }
    }
}

.enlaceDeco{
    text-decoration: none;
}

// dudas frecuentes

//Formulario para enviar consulta 
.btn-dark{
    background-image: map-get($map: $gradient, $key: 'dark');
    margin: 5px;
    padding: 10px 35px;
    transition: 0.5s;
    background-size: 200% auto;
    color: map-get($map: $paleta, $key: 'blanco');            
    box-shadow: 0 0 20px $btnShadow;
    border-radius: 10px;

    &:hover{
        background-position: right center; /* change the direction of the change here */
        color: map-get($map: $paleta, $key: 'blanco');
        text-decoration: none;
    }
}

.accordion-button:not(.collapsed) {
    color: map-get($map: $paleta, $key: 'negro');
    background-color: map-get($map: $paleta, $key: 'blanco');
    font-weight: 700;
}
//fin dudas frecuentes

//index docs
.card{
    width: 18rem;
}

#docs{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-row: auto;
    justify-items: center;
}
//fin index docs


//galeria de imagenes

@each $i in A,B,C,D,E,F{
    .foto#{$i}{
        grid-area: foto#{$i};
    }
}

#galeria{
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 300px);
    grid-template-areas:
    'fotoA'
    'fotoB'
    'fotoC'
    'fotoD'
    'fotoE'
    'fotoF';
}

@media (min-width: 768px){
    #galeria{
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(4, 400px);
        grid-template-areas:
        'fotoA fotoB'
        'fotoA fotoC'
        'fotoA fotoD'
        'fotoE fotoF';
    }
}

@media (min-width: 1200px){
    #galeria{
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: repeat(3, 30vh);
        grid-template-areas:
        'fotoA fotoB fotoC'
        'fotoA fotoD fotoC'
        'fotoA fotoE fotoF';
    }

    #galeria{
        img{
            filter: grayscale(.5);
            &:hover{
                filter: none;
                transition: filter 1s;
            }
        }

    }
}

//fin galeria de imagenes
