// @include d-grid(1fr, repeat(6, 300px));
@mixin d-grid($columns, $rows){
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
}
   
// @extends .btn-grad;
.btn-grad {
    margin: 5px;
    padding: 10px 35px;
    transition: 0.5s;
    background-size: 200% auto;
    color: map-get($map: $paleta, $key: 'blanco'); 
    box-shadow: 0 0 20px $btnShadow;
    border-radius: 10px;

    &:hover{
        background-position: right center; /* change the direction of the change here */
        color: map-get($map: $paleta, $key: 'blanco');
        text-decoration: none;
    }
}
 
 
 